.home__inviteBtn {
  padding: 0.5rem;
  border-radius: 15px;
  border: 2px dashed var(--muted-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  cursor: pointer;
}

.home__people .people {
  width: 3rem;
  border-radius: 50%;
  object-fit: contain;
  margin-left: -1.2rem;
  border: 1px solid #fff;
}

.home__people .box {
  height: 4rem;
  width: 4rem;
  background-color: var(--dark-color);
  padding-top: -0.5rem;
  margin-left: -1.2rem;
  margin-top: 1rem;
  border-radius: 2rem;
}

.home__drop-down {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 15rem;
  border: 1px solid var(--muted-color);
  border-radius: 20px;
  color: var(--dark-color);
  cursor: pointer;
}

.home__current-date {
  background-color: var(--primary-color);
  color: #fff !important;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.home__user-card {
  width: 100%;
  border: 1px solid var(--muted-color);
  height: 7rem;
  border-radius: 12px;
  padding: 0.7rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  cursor: pointer;
}

.home__user-card .avatar {
  width: 6rem;
  border-radius: 50%;
  object-fit: contain;
}

.home {
  /*overflow: scroll;*/
  height: 100vh;
}

.home__current-date-pointer-head {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  top: 5rem;
  left: 63rem;
  background-color: var(--primary-color);
  z-index: 999;
}

.home__current-date-pointer-line {
  width: 0.2rem;
  height: 90rem;
  top: 6rem;
  left: 63.4rem;
  background-color: var(--primary-color);
  z-index: 999;
}

.home-divider-line {
  width: 0.1rem;
  height: 90rem;
  top: 6rem;
  background-color: var(--muted-color);
  opacity: 0.4;
}

.home-divider-line.one {
  left: 30rem;
}
.home-divider-line.two {
  left: 35rem;
}
.home-divider-line.three {
  left: 40rem;
}

.home-divider-line.four {
  left: 45rem;
}

.home-divider-line.five {
  left: 50rem;
}

.home-divider-line.six {
  left: 55rem;
}

.home-divider-line.seven {
  left: 60rem;
}

.home-divider-line.eight {
  left: 67rem;
}

.home-divider-line.nine {
  left: 73rem;
}

.home-divider-line.ten {
  left: 79rem;
}

.home-divider-line.eleven {
  left: 87rem;
}

.home-divider-line.twelve {
  left: 95rem;
}

.home-divider-line.thirteen {
  left: 105rem;
}
.home-divider-line.fourteen {
  left: 115rem;
}

.home__tasks,
.home__tasks__inner {
  height: 5rem;
  border-radius: 25px;
}

.home__tasks.box-0 {
  background-color: var(--orange-light-color) !important;
}

.home__tasks__inner.box-0 {
  background-color: var(--orange-color);
}

.home__tasks__text.box-0 {
  color: var(--orange-color);
}

.home__tasks__label {
  color: #fff;
}

.home__tasks.box-1 {
  background-color: rgba(249, 208, 24, 0.1);
}

.home__tasks__inner.box-1 {
  background-color: var(--yellow-color);
}

.home__tasks__text.box-1 {
  color: var(--yellow-color);
}

.home__tasks.box-2 {
  background-color: var(--deepBlue-light-color);
}

.home__tasks__inner.box-2 {
  background-color: var(--deepBlue-color);
}

.home__tasks__text.box-2 {
  color: var(--deepBlue-color);
}

.home__tasks.box-3 {
  background-color: var(--deepBlue-light-color);
}

.home__tasks__inner.box-3 {
  background-color: var(--deepBlue-color);
}

.home__tasks__text.box-3 {
  color: var(--deepBlue-color);
}

.home__tasks.box-4 {
  background-color: var(--deepBlue-light-color);
}

.home__tasks__inner.box-4 {
  background-color: var(--deepBlue-color);
}

.home__tasks__text.box-4 {
  color: var(--deepBlue-color);
}

.home__tasks.box-5 {
  background-color: var(--iceBlue-light-color);
}

.home__tasks__inner.box-5 {
  background-color: var(--iceBlue-color);
}

.home__tasks__text.box-5 {
  color: var(--iceBlue-color);
}

.home__tasks.box-6 {
  background-color: rgba(249, 208, 24, 0.1);
}

.home__tasks__inner.box-6 {
  background-color: var(--yellow-color);
}

.home__tasks__text.box-6 {
  color: var(--yellow-color);
}

.home__tasks.box-7 {
  background-color: var(--orange-light-color) !important;
}

.home__tasks__inner.box-7 {
  background-color: var(--orange-color);
}

.home__tasks__text.box-7 {
  color: var(--orange-color);
}

.home__tasks.box-8 {
  background-color: var(--deepBlue-light-color);
}

.home__tasks__inner.box-8 {
  background-color: var(--deepBlue-color);
}

.home__tasks__text.box-8 {
  color: var(--deepBlue-color);
}

.home__tasks.box-9 {
  background-color: var(--iceBlue-light-color);
}

.home__tasks__inner.box-9 {
  background-color: var(--iceBlue-color);
}

.home__tasks__text.box-9 {
  color: var(--iceBlue-color);
}
